[submodule "arpeggio-ts"]
	path = arpeggio-ts
	url = git@github.com:isaacdecoded/arpeggio-ts.git
	branch = main
[submodule "arpeggio-py"]
	path = arpeggio-py
	url = git@github.com:isaacdecoded/arpeggio-py.git
	branch = main
[submodule "arpeggio-rs"]
	path = arpeggio-rs
	url = git@github.com:isaacdecoded/arpeggio-rs.git
	branch = main
[submodule "arpeggio-cli"]
	path = arpeggio-cli
	url = git@github.com:isaacdecoded/arpeggio-cli.git
	branch = main
