[submodule "arpeggio-ts"]
	path = arpeggio-ts
	url = git@github.com:isaacdecoded/arpeggio-ts.git
	branch = main
[submodule "arpeggio-py"]
	path = arpeggio-py
	url = git@github.com:isaacdecoded/arpeggio-py.git
	branch = main
[submodule "arpeggio-rust"]
	path = arpeggio-rust
	url = git@github.com:isaacdecoded/arpeggio-rust.git
	branch = main
